.ProfileDashBoard {
  width: 280px;
  height: 600px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.profileHead {
  /* height: 200px; */
  background: #000000;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 8px;
}

.profileimageanaData {
  display: flex;
  /* flex-direction: column; */
  align-items: start;
  /* padding-top: 20px; */
}

.profileimageanaData img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 50%;
  margin-left: 8px;
  margin-top: 10px;
  border: 2px solid #18578c;
}

.profileimageanaData h3 {
  font-size: 18px;
  margin: 5px 0;
}

.profileimageanaData p {
  font-size: 14px;
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #333;
  border-radius: 4px;
  transition: background 0.3s;
  cursor: pointer;
}

.menuItem i {
  font-size: 20px;
  margin-right: 10px;
}

.menuItem p {
  margin: 0;
  font-size: 13px;
  color: rgb(0, 0, 0);
}

.menuItem:hover {
  background: #a7a3a3;
}

.menuItem.active {
  background: #e0e0e0;
}

/* purchasehistoryContainer */
.purchasehistoryContainer {
  height: 100%;
  background: white;
  color: black;
  height: 556px;

  border-radius: 8px;
  overflow-y: auto; /* Enable vertical scrolling */
}
.purchasehistoryContainer_wishList {
  /* background: white; */
  /* color: black; */
  height: 592px;
  border-radius: 8px;
  overflow-y: auto; /* Enable vertical scrolling */
}
.purchasehistoryContainer_wishList::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}
.purchasehistory_table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

.purchasehistory_th,
.purchasehistory_td {
  padding: 22px 15px;
  border: 1 solid transparent;
}

.purchasehistory_th {
  background-color: #f4f4f4;
  font-size: 14px;
  font-weight: bold;
}

.purchasehistory_td {
  background-color: #fff;
}

.purchasehistory_td.options {
  text-align: center; /* Center-align options column */
}
.purchasehistory_td {
  font-size: 14px;
  font-weight: 500;
}

/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}

/* support_ticket Container */

/* Styles for the AddTicketContainer */
.AddTicketContainer {
  cursor: pointer;
  border: 1px solid #000;
  display: inline-block;
  padding: 10px 100px 10px 100px; /* Adjusted padding for symmetry */
  text-align: center;
  background: white;
  color: black;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    /* Soft shadow */ 0 6px 20px rgba(0, 0, 0, 0.1); /* Larger shadow for depth */
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition */
}

.AddTicketContainer:hover {
  transform: translateY(10px); /* Lift effect */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2),
    /* Enhanced shadow on hover */ 0 12px 40px rgba(0, 0, 0, 0.2); /* Larger shadow on hover */
}

/* Styles for the modal background */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  text-align: center;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Class to hide overflow on body */
.modal-open {
  overflow: hidden;
}
.alertp {
  margin-top: 20px;
}
.TicketdIV p {
  font-weight: 600;
}
.custom-line {
  height: 1px; /* Adjust the height as needed */
  background-color: #4caf50; /* Solid color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: add shadow */
}
.error {
  width: 150px;
}

/* POPUPaDDtICKET CONTAINER */
.form-container {
  margin-top: 5px;
}
.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.form-group label {
  flex-basis: 30%;
  align-self: center;
}
.form-group input[type="text"],
.form-group textarea {
  flex-basis: 65%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-group textarea {
  resize: vertical;
  height: 100px;
}
.form-group input[type="file"] {
  padding: 10px;
}
.form-actions {
  display: flex;
  justify-content: flex-end;
}
.form-actions button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.form-actions button.cancel {
  background-color: #f44336;
  color: white;
}
.form-actions button.submit {
  background-color: #18578c;
  font-size: 14px;
  color: white;
}

/* manageProfile */

.addressContainer {
  width: 100%;
  border: 1px solid blue;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    /* Slight shadow */ 0 6px 20px rgba(0, 0, 0, 0.1); /* Deeper shadow for 3D effect */
}
.header_for_cart {
  display: none;
}
.address_p p {
  font-size: 12px;
  line-height: 0;
  font-weight: 600;
  padding: 4px;
}
/* profile ui for mobile */
.Profile_container img {
  width: 130px;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .header_for_cart {
    display: block;
  }
  .system_tabs {
    display: none;
  }
  #pur {
    display: none;
  }
  .tabcontent {
    display: none;
  }
  .System_tab {
    display: none;
  }
  .form-group label {
    flex-basis: 30%;
    align-self: center;
    font-size: 13px;
  }
  .form-group input[type="text"],
  .form-group textarea {
    /* flex-basis: 126%; */
    height: 38px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  .ProfileDashBoard {
    display: none;
    width: 280px;
    height: 600px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  /* purchasehistoryContainer */
  .purchasehistoryContainer {
    height: 100%;
    background: white;
    color: black;
    height: 556px;
    border-radius: 8px;
    overflow-y: auto;
  }
  .purchasehistoryContainer::-webkit-scrollbar {
    display: none;
  }
  .form-container {
    /* padding: 20px; */
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  .addressContainer {
    width: 100%;
    margin-top: 5px;
    border: 1px solid blue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
      /* Slight shadow */ 0 6px 20px rgba(0, 0, 0, 0.1); /* Deeper shadow for 3D effect */
  }
}
